dify-workflows/01-course-qa.yml
app:
  description: 面向通用教学智能体平台的课程问答工作流，用于结合课程资料回答学生问题。
  icon: 📘
  icon_background: '#E8F3FF'
  mode: workflow
  name: 课程问答工作流
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/openai:0.2.3@5a7f82fa86e28332ad51941d0b491c1e8a38ead539656442f7bf4c6129cd15fa
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 0
        batch_count_limit: 0
        file_size_limit: 0
        image_file_size_limit: 0
        video_file_size_limit: 0
        workflow_file_upload_limit: 0
      image:
        enabled: false
        number_limits: 0
        transfer_methods: []
    number_limits: 0
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - id: start_to_llm
        source: start_node
        sourceHandle: source
        target: llm_node
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
      - id: llm_to_end
        source: llm_node
        sourceHandle: source
        target: end_node
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
    nodes:
      - data:
          desc: 接收课程、学生问题和后端检索到的课程资料片段。
          selected: false
          title: 开始
          type: start
          variables:
            - label: 课程名称
              max_length: 80
              options: []
              required: true
              type: text-input
              variable: course_name
            - label: 课题或章节
              max_length: 120
              options: []
              required: false
              type: text-input
              variable: lesson_topic
            - label: 学生问题
              max_length: 4000
              options: []
              required: true
              type: paragraph
              variable: student_question
            - label: 学生背景
              max_length: 1000
              options: []
              required: false
              type: paragraph
              variable: student_profile
            - label: 检索到的课程资料
              max_length: 12000
              options: []
              required: false
              type: paragraph
              variable: retrieved_context
            - label: 回答风格
              max_length: 80
              options: []
              required: false
              type: text-input
              variable: answer_style
          x-outputs:
            - name: course_name
              type: string
            - name: lesson_topic
              type: string
            - name: student_question
              type: string
            - name: student_profile
              type: string
            - name: retrieved_context
              type: string
            - name: answer_style
              type: string
        height: 118
        id: start_node
        position:
          x: 0
          y: 0
        positionAbsolute:
          x: 0
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 结合课程资料生成清晰、可教学的回答。
          model:
            completion_params:
              temperature: 0.25
            mode: chat
            name: gpt-4o-mini
            provider: langgenius/openai/openai
          prompt_template:
            - id: system_prompt
              role: system
              text: |-
                你是通用教学智能体平台中的课程答疑助手。你的目标是帮助学生理解课程内容，而不是只给最终答案。

                规则：
                1. 优先依据“检索到的课程资料”回答；资料不足时要明确说明，并给出基于常识的谨慎解释。
                2. 回答要适合教学场景，先给结论，再解释原因，再给例子。
                3. 不编造课程资料、产品价格、政策或学校要求。
                4. 如果学生问题含糊，先给可能方向，再列出需要补充的问题。
                5. 输出中文。
            - id: user_prompt
              role: user
              text: |-
                课程名称：{{#start_node.course_name#}}
                课题或章节：{{#start_node.lesson_topic#}}
                学生背景：{{#start_node.student_profile#}}
                回答风格：{{#start_node.answer_style#}}

                检索到的课程资料：
                {{#start_node.retrieved_context#}}

                学生问题：
                {{#start_node.student_question#}}

                请按以下结构回答：
                1. 直接回答
                2. 关键解释
                3. 课程例子
                4. 学生可以继续追问的 2 个问题
          selected: false
          title: 课程答疑
          type: llm
          variables: []
          vision:
            enabled: false
          x-outputs:
            - name: text
              type: string
        height: 98
        id: llm_node
        position:
          x: 320
          y: 0
        positionAbsolute:
          x: 320
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: 输出课程问答结果。
          outputs:
            - value_selector:
                - llm_node
                - text
              variable: answer
          selected: false
          title: 结束
          type: end
          x-outputs:
            - name: answer
              type: string
        height: 90
        id: end_node
        position:
          x: 640
          y: 0
        positionAbsolute:
          x: 640
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
