dify-workflows/05-product-change.yml
app:
  description: 旅游产品变更提醒工作流，用于比对新旧产品信息并生成学生易理解的变更摘要。
  icon: 🔔
  icon_background: '#FFF7D6'
  mode: workflow
  name: 旅游产品变更提醒工作流
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/openai:0.2.3@5a7f82fa86e28332ad51941d0b491c1e8a38ead539656442f7bf4c6129cd15fa
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 0
        batch_count_limit: 0
        file_size_limit: 0
        image_file_size_limit: 0
        video_file_size_limit: 0
        workflow_file_upload_limit: 0
      image:
        enabled: false
        number_limits: 0
        transfer_methods: []
    number_limits: 0
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - id: start_to_llm
        source: start_node
        sourceHandle: source
        target: llm_node
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
      - id: llm_to_end
        source: llm_node
        sourceHandle: source
        target: end_node
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
    nodes:
      - data:
          desc: 接收产品新旧版本和关注维度，用于后台异步生成变更提醒。
          selected: false
          title: 开始
          type: start
          variables:
            - label: 产品名称
              max_length: 200
              options: []
              required: true
              type: text-input
              variable: product_name
            - label: 变更日期
              max_length: 80
              options: []
              required: false
              type: text-input
              variable: change_date
            - label: 旧版产品信息
              max_length: 12000
              options: []
              required: true
              type: paragraph
              variable: old_product_info
            - label: 新版产品信息
              max_length: 12000
              options: []
              required: true
              type: paragraph
              variable: new_product_info
            - label: 关注维度
              max_length: 500
              options: []
              required: false
              type: text-input
              variable: compare_focus
            - label: 目标学习对象
              max_length: 500
              options: []
              required: false
              type: text-input
              variable: target_audience
          x-outputs:
            - name: product_name
              type: string
            - name: change_date
              type: string
            - name: old_product_info
              type: string
            - name: new_product_info
              type: string
            - name: compare_focus
              type: string
            - name: target_audience
              type: string
        height: 118
        id: start_node
        position:
          x: 0
          y: 0
        positionAbsolute:
          x: 0
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 比对产品版本，生成变更摘要和客户沟通提醒。
          model:
            completion_params:
              temperature: 0.15
            mode: chat
            name: gpt-4o-mini
            provider: langgenius/openai/openai
          prompt_template:
            - id: system_prompt
              role: system
              text: |-
                你是旅游产品变更分析助手。你的任务是把复杂的产品更新转成学生能快速记住、能对客户解释的变更提醒。

                规则：
                1. 只根据输入的新旧产品信息做比对，不凭空补充价格、酒店、线路或政策。
                2. 重点识别价格、景点、路线、酒店、交通、餐食、服务标准、退改规则、适合人群的变化。
                3. 对客户体验影响要用直白语言说明。
                4. 输出要适合后台异步落库，结构稳定。
                5. 输出中文。
            - id: user_prompt
              role: user
              text: |-
                产品名称：{{#start_node.product_name#}}
                变更日期：{{#start_node.change_date#}}
                关注维度：{{#start_node.compare_focus#}}
                目标学习对象：{{#start_node.target_audience#}}

                旧版产品信息：
                {{#start_node.old_product_info#}}

                新版产品信息：
                {{#start_node.new_product_info#}}

                请输出：
                1. 变更总览：一句话
                2. 变更明细表：维度 / 旧版 / 新版 / 对客户体验的影响 / 学生记忆要点
                3. 风险提醒：可能导致客户投诉或误解的点
                4. 客户沟通话术：简短自然，不夸大
                5. 建议同步给学生的标签：价格变化、路线变化、酒店变化、景点变化、交通变化、服务变化等
          selected: false
          title: 生成产品变更提醒
          type: llm
          variables: []
          vision:
            enabled: false
          x-outputs:
            - name: text
              type: string
        height: 98
        id: llm_node
        position:
          x: 320
          y: 0
        positionAbsolute:
          x: 320
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: 输出产品变更提醒。
          outputs:
            - value_selector:
                - llm_node
                - text
              variable: change_summary
          selected: false
          title: 结束
          type: end
          x-outputs:
            - name: change_summary
              type: string
        height: 90
        id: end_node
        position:
          x: 640
          y: 0
        positionAbsolute:
          x: 640
          y: 0
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
